<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net47" />
  <package id="FluentValidation" version="8.5.1" targetFramework="net47" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net47" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net47" />
  <package id="Ninject" version="3.3.4" targetFramework="net47" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net47" />
  <package id="Prism.Ninject" version="7.2.0.1367" targetFramework="net47" />
  <package id="Prism.Wpf" version="7.2.0.1367" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>