<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Epsiloner.Core" version="1.0.7" targetFramework="net47" />
  <package id="Epsiloner.Wpf.Core" version="1.0.4" targetFramework="net47" />
  <package id="Epsiloner.Wpf.Keyboard" version="1.0.4" targetFramework="net47" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net47" />
  <package id="InputSimulatorPlus" version="1.0.7" targetFramework="net47" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net47" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net47" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net47" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net47" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net47" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net47" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net47" />
  <package id="MindFusion.Keyboard.Wpf" version="4.5.0" targetFramework="net47" />
  <package id="VisualKeyboard.Control" version="1.0.1" targetFramework="net47" />
  <package id="WindowsInput" version="0.2.0.0" targetFramework="net47" />
  <package id="WPFTouchKeyboard" version="1.0.1" targetFramework="net47" />
  <package id="WPFTouchscreenKeyboard" version="1.0.0" targetFramework="net47" />
</packages>